<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Club List</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Find Running Clubs</h1>
                <p class="lead fw-normal text-muted mb-0">Groups of passionate near you</p>
            </div>
            <div class="row gx-5">
                <div th:each="club :${clubs}" class="col-lg-6">
                    <div class="position-relative mb-5">
                        <img class="img-fluid rounded-3 mb-3" th:src="${club.photoUrl}" alt="..." />
                        <a th:text="${club.title}" class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Project name</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>