<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Club List</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5">
            <div th:if="${param.success}" class="alert alert-success">
                You are registered successfully!
            </div>
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Find Running Clubs</h1>
                <p class="lead fw-normal text-muted mb-0">Groups of passionate near you</p>
            </div>
            <div class="row gx-5">
                <div>
                    <form th:action="@{/clubs/search}" class="form-inline my-2 my-lg-0 mb-3">
                        <input name="query" class="form-control mr-sm-2 mb-5" type="search" placeholder="Search running clubs" aria-label="Search">
                    </form>
                </div>
                <div th:each="club :${clubs}" class="col-lg-6 mb-2">
                    <div class="position-relative mb-3">
                        <img class="img-fluid rounded-3 mb-3" th:src="${club.photoUrl}" alt="..." />
                        <a th:text="${club.title}" class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Project name</a>
                    </div>
                    <a class="btn btn-primary" th:href="@{/clubs/{clubId}(clubId=${club.id})}">View</a>
                    <div th:if="${user.id} == ${club.createdBy.id}">
                        <a class="btn btn-primary" th:href="@{/clubs/{clubId}/edit(clubId=${club.id})}">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>