<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
  <title>Club Edit</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <section layout:fragment="body" class="py-5">
    <div class="container">
      <form role="form" method="post" th:action="@{/clubs/{clubId}/edit(clubId=${club.id})}" th:object="${club}">
        <input type="hidden" th:field="*{id}">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="title">Title</label>
            <input
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    th:field="*{title}"
                    placeholder="Title">
            <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>
          </div>
          <div class="form-group col-md-6">
            <label for="photoUrl">Photourl</label>
            <input
                    type="text"
                    class="form-control"
                    id="photoUrl"
                    name="photoUrl"
                    th:field="*{photoUrl}"
                    placeholder="Photo Url">
            <p th:if="${#fields.hasErrors('photoUrl')}" class="text-danger" th:errors="*{photoUrl}"></p>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="content">Content</label>
          <input
                  type="text"
                  class="form-control"
                  id="content"
                  name="content"
                  th:field="*{content}"
                  placeholder="1234 Main St">
          <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></p>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </section>
</main>
</body>
</html>