<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
  <title>Event List</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <section layout:fragment="body" class="py-5">
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
        <h1 class="fw-bolder">Find Running Events</h1>
        <p class="lead fw-normal text-muted mb-0">Find running events near you</p>
      </div>
      <div class="row gx-5">
        <div th:each="event :${events}" class="col-lg-6 mb-2">
          <div class="position-relative mb-3">
            <img class="img-fluid rounded-3 mb-3" th:src="${event.photoUrl}" alt="..." />
            <a th:text="${event.name}" class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!"></a>
          </div>
          <a th:href="@{/events/{eventId}(eventId=${event.id})}" class="btn btn-primary">View</a>
          <a class="btn btn-primary">Edit</a>
        </div>
      </div>
    </div>
  </section>
</main>
</body>
</html>